# URL de la app webCMS a probar
E2E_BASE_URL=http://127.0.0.1:3100

# URL base de la API de backend
API_BASE_URL=http://localhost:8000

# Carpeta del proyecto webCMS (por defecto, repositorio hermano: ../webCMS)
E2E_WEB_SERVER_CWD=../webCMS

# Comando para levantar webCMS antes de correr pruebas
E2E_WEB_SERVER_COMMAND=npm run dev -- --port 3100

# Si ya tienes la app levantada manualmente, puedes desactivar el webServer interno
# E2E_DISABLE_WEBSERVER=true
E2E_DISABLE_WEBSERVER=false
